* {
  margin-top: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.container {
  
  text-align: center;
  line-height: 5vh;
}
.logo {
  height: auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
}
.navbar {
  height: auto;
  background-color: white;
}
 .pic {
  position: relative;
  white-space: nowrap;
  animation: rightThenleft 30s linear;
  animation-iteration-count: infinite;
  
 }
  @keyframes rightThenleft {
    0% { left: 0%;}
    50% { left: 30%;}
    70% { left: 0%;}
  }
 @media only screen and (max-width: 480px) {
   .piv {
     font-size: 1rem;
   }
   .intro>button {
     height: auto;
     width: 30vw;
   }
   .photo  {
     display: inline-block;
   }
   .navbar{
     font-size: 1rem;
     background-color: #3586ff;
   }
   .education {
     display: flex;
     flex-direction: column;
     border-bottom: solid black;
     overflow: hidden;
   }
   .about {
     display: flex;
     flex-direction: column;
   }
   @keyframes rightThenleft {
    0% { left: 0%;}
    50% { left: 75%;}
    100% { left: 0%;}
  }
  #resume {
    height: 3vh;
  }
 }
 button  {
   outline: black;
   border-radius: 15px;
   background-color: #3586ff;
   color: white
 }
 .alist > a {
   text-decoration: none;
 }
 .search-button input{
   border: 1px black solid;
   border-radius: 5%;
   width: 70%;
   height: 2.5vh;
 }
 .alist {
   justify-content: space-evenly;
   display: flex;
 }
 #resume {
   background-color: Red;
   
 }
 .alist a {
   cursor: pointer;
 }
 .alist a :hover, a :active{
   transform: translateY(-5px);
   background-color: deepskyblue;
   transition-duration: .3s;
 }
 .intro > h1{
   text-align: center;
   margin-top: 5vh;
 }
 .intro {
   text-align: center;
   direction: flex;
 }
 .span {
   color: red;
   transition: .5s;
 }
 .photo > img{
   display: relative;
   height: 40%;
   width: 300px;
   align-items: center;
 }
 .footer {
   background-color: #3586ff
 }
 .social-icon {
   display: flex;
   list-style: none;
   justify-content: center;
   align-items: center;
   padding-top: 10px;
 }
 .social-icon a{
   color: white;
   margin: 15px 13px;
 }
 .rights {
   text-align: center;
 }
 .about {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .welcome {
   width: 50%;
   height: 45%;
 }
 .skill-list img{
   width: 50px;
 }
 .skill-list{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
 }
 #skill {
   text-align: center;
   padding: 3vh 0 1vh 0;
 }
 .contact-form {
   min-height: 10vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 2vh 0;
 }
 form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 80vw;
  min-height: 10vh;
  border: 3px solid black;
  
 }
 form > input, textarea {
   width: 65vw;
   border-radius: 10px;
   margin: 20px 0;
   border: 2px solid black;
   outline: none;
   background-color: whitesmoke;
   min-height: 2vh;
 }
 .education{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border: 2px solid black;
   border-radius: 10px;
 }
 .education div{
   width: 33%
   padding-right: 
   border: 2px solid black;
 }
 #edu {
   text-align: center;
   margin: 2vh 0;
   background-color: #3586ff
   
 }
 #skill h2{
   background-color: #3586ff;
 }
  img{
   border-radius: 7%;
 }
 .alist p {
   background-color: red;
   border: 2px solid black;
   border-radius: 15px;
 }
 button{
   background-color: #3688ff;
   height: 5vh;
   width: 20vw;
   float: center;
   margin-top: 15px;
 }
 @media (prefers-color-scheme: light) {
  body {
      background-color: white;
      color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
.dark-mode {
  background-color: black;
  color: white;
}
